* {
    box-sizing: border-box;
}

.game.hide,
.intro-page.hide {
    display: none;
}

body,
.game,
.board,
.intro-page {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/Desktop/243341.png);
    padding: 0;
}

.intro-page {
    flex-direction: column;
}

.intro-page img {
    height: 60%;
    width: 60%;
}

.clock {
    width: 100px;
    height: 50px;
    margin: 40px;
    padding: 11px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    border: grey dashed;
    border-radius: 5px;
    background-color: lemonchiffon;
}

#btn,
#main-start {
    width: 100px;
    height: 50px;
    margin: 40px;
    font-size: 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(245, 240, 240, 0.5);
    color:dimgray;
    font-weight: bold;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

#btn:hover {
    cursor: pointer;
    background-color: rgba(245, 240, 240, 0.11);
}

.start-show {
    font-size: 18px;
    color: #ff1100;
    margin-top: 50px;
}

.img-div {
    width: 90%;
    height: 20%;
    /* margin: 30px; */
    visibility: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.game {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}

.menu {
    width: 25%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.menu.right{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ytplayer{
width: 100%;
}
.board {
    height: 100%;
    width: 70%;
    
}

.canvas {
    width: 98%;
    height: 98%;
    /* border: 1px solid black; */
    background-color: rgb(46, 176, 252);
}

.buttons {
    height: 100%;
    width: 20%;
    border: 1px solid rgb(0, 102, 255);
}

.tools,
.storeroom {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.63);
}

.axe,
.pickaxe,
.shovel,
.inventory {
    width: 7em;
    height: 7em;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.axe {
    background-image: url(./images/axe.png);
}

.pickaxe {
    background-image: url(./images/pickaxe.png);
}

.shovel {
    background-image: url(./images/shovel.png);
}

.row {
    height: 5%;
    width: 100%;
    display: flex;
}

.cube {
    width: 5%;
}

.cube:hover {
    border: 1px solid rgba(253, 253, 253, 0.37);
}

div.ground,
div.grass,
div.rock,
div.tree,
div.wood {
    background-size: cover;
}

div.ground {
    background-image: url(./images/ground.png);
}

div.grass {
    background-image: url(./images/grass.jpg);
}

div.rock {
    background-image: url(./images/rock.png);
}

div.wood {
    background-image: url(./images/Wood.png);
}

div.tree {
    background-image: url(./images/tree.png);
}

.axes {
    cursor: url(./images/Desktop/axe.png)10 20, auto;
}

.pickaxes {
    cursor: url(./images/Desktop/pickaxe.png)10 10, auto;
}

.shovels {
    cursor: url(./images/Desktop/shovel.png)0 59, auto;
}

button:focus {
    outline: 0;
}

button:hover {
    box-shadow: 2px 2px 0 0 grey;
    background-color: rgba(255, 255, 255, 0.233);
}

.storeroom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory.tree {
    background-image: url(./images/tree.png);
    background-size: cover;
}

.inventory.rock {
    background-image: url(./images/rock.png);
    background-size: cover;
}

.inventory.ground {
    background-image: url(./images/ground.png);
    background-size: cover;
}